$mainFontFamily: "Fira Sans", sans-serif;
$secondFontFamily: "ProximaNova", sans-serif;
$thirdFontFamily: "Myriad Pro", sans-serif;

$inputFontSize: 18px;
$fontColor: #232323;
$mainColor: #9a9a9a;
$secondColor: #ed9915;
$borderColor: #e9e9e9;
